<section class="experience" id="experience">
  <h2 class="section-title fade-up">EXPERIENCIA</h2>
  <div class="section-underline fade-up delay-1"></div>

  <div class="timeline">
    <div class="timeline-item fade-up"
      *ngFor="let item of experience; let i = index"
      [class.right]="i % 2 !== 0"
      [class.education]="item.isEducation"
      [class.delay-1]="i === 0"
      [class.delay-2]="i === 1"
      [class.delay-3]="i === 2"
      [class.delay-4]="i === 3"
      [class.delay-5]="i === 4">
      <div class="timeline-dot">
        <ion-icon [name]="item.icon"></ion-icon>
      </div>
      <div class="timeline-card">
        <span class="timeline-date">{{ item.date }}</span>
        <h3 class="timeline-role">{{ item.role }}</h3>
        <p class="timeline-company accent">{{ item.company }}</p>
        <p class="timeline-desc">{{ item.description }}</p>
        <div class="timeline-techs" *ngIf="item.techs.length > 0">
          <span class="timeline-tech" *ngFor="let tech of item.techs">{{ tech }}</span>
        </div>
        <a *ngIf="item.link" [href]="'assets/' + item.link" target="_blank" class="title-btn">
          Ver título 
        </a>
      </div>
    </div>
  </div>
</section>